body
{
}

:root {
    --button-color: #a8a8a8;
    --button-hover: #808080;
    --button-active: #565656;
    --animation-timing: 0.2s;
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #b6a136;
    --ghost: #735797;
    --dragon: #6f35fc;
    --dark: #705746;
    --steel: #B7B7CE;
    --fairy: #D685AD;
    --primary-Color: #d6d5c9;
    --secondary-Color: #d6d5c9;
    --black: #2b2b2b;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* #region Backgrounds */
/* #region Null*/
.charsheet:has([name="attr_type2"] > option[value="-"]:checked) {
    --secondary-Color: var(--primary-Color);
}
/* #endregion*/
/* #region Normal*/
.charsheet:has([name="attr_type1"] > option[value="Normal"]:checked) {
    --primary-Color: var(--normal);
}

.charsheet:has([name="attr_type2"] > option[value="Normal"]:checked) {
    --secondary-Color: var(--normal);
}
/* #endregion */
/* #region Fire */
.charsheet:has([name="attr_type1"] > option[value="Fire"]:checked) {
    --primary-Color: var(--fire);
}

.charsheet:has([name="attr_type2"] > option[value="Fire"]:checked) {
    --secondary-Color: var(--fire);
}
/* #endregion*/
/* #region Water*/
.charsheet:has([name="attr_type1"] > option[value="Water"]:checked) {
    --primary-Color: var(--water);
}

.charsheet:has([name="attr_type2"] > option[value="Water"]:checked) {
    --secondary-Color: var(--water);
}
/* #endregion*/
/* #region Electric*/
.charsheet:has([name="attr_type1"] > option[value="Electric"]:checked) {
    --primary-Color: var(--electric);
}

.charsheet:has([name="attr_type2"] > option[value="Electric"]:checked) {
    --secondary-Color: var(--electric);
}
/* #endregion*/
/* #region Grass*/
.charsheet:has([name="attr_type1"] > option[value="Grass"]:checked) {
    --primary-Color: var(--grass);
}

.charsheet:has([name="attr_type2"] > option[value="Grass"]:checked) {
    --secondary-Color: var(--grass);
}
/* #endregion*/
/* #region Ice*/
.charsheet:has([name="attr_type1"] > option[value="Ice"]:checked) {
    --primary-Color: var(--ice);
}

.charsheet:has([name="attr_type2"] > option[value="Ice"]:checked) {
    --secondary-Color: var(--ice);
}
/* #endregion*/
/* #region Fighting */
.charsheet:has([name="attr_type1"] > option[value="Fighting"]:checked) {
    --primary-Color: var(--fighting);
}

.charsheet:has([name="attr_type2"] > option[value="Fighting"]:checked) {
    --secondary-Color: var(--fighting);
}
/* #endregion*/
/* #region Poison*/
.charsheet:has([name="attr_type1"] > option[value="Poison"]:checked) {
    --primary-Color: var(--poison);
}

.charsheet:has([name="attr_type2"] > option[value="Poison"]:checked) {
    --secondary-Color: var(--poison);
}
/* #endregion*/
/* #region Ground*/
.charsheet:has([name="attr_type1"] > option[value="Ground"]:checked) {
    --primary-Color: var(--ground);
}

.charsheet:has([name="attr_type2"] > option[value="Ground"]:checked) {
    --secondary-Color: var(--ground);
}
/* #endregion*/
/* #region Flying*/
.charsheet:has([name="attr_type1"] > option[value="Flying"]:checked) {
    --primary-Color: var(--flying);
}

.charsheet:has([name="attr_type2"] > option[value="Flying"]:checked) {
    --secondary-Color: var(--flying);
}
/* #endregion*/
/* #region Psychic */
.charsheet:has([name="attr_type1"] > option[value="Psychic"]:checked) {
    --primary-Color: var(--psychic);
}

.charsheet:has([name="attr_type2"] > option[value="Psychic"]:checked) {
    --secondary-Color: var(--psychic);
}
/* #endregion*/
/* #region Bug */
.charsheet:has([name="attr_type1"] > option[value="Bug"]:checked) {
    --primary-Color: var(--bug);
}

.charsheet:has([name="attr_type2"] > option[value="Bug"]:checked) {
    --secondary-Color: var(--bug);
}
/* #endregion*/
/* #region Rock */
.charsheet:has([name="attr_type1"] > option[value="Rock"]:checked) {
    --primary-Color: var(--rock);
}

.charsheet:has([name="attr_type2"] > option[value="Rock"]:checked) {
    --secondary-Color: var(--rock);
}
/* #endregion*/
/* #region Ghost */
.charsheet:has([name="attr_type1"] > option[value="Ghost"]:checked) {
    --primary-Color: var(--ghost);
}

.charsheet:has([name="attr_type2"] > option[value="Ghost"]:checked) {
    --secondary-Color: var(--ghost);
}
/* #endregion*/
/* #region Dragon */
.charsheet:has([name="attr_type1"] > option[value="Dragon"]:checked) {
    --primary-Color: var(--dragon);
}

.charsheet:has([name="attr_type2"] > option[value="Dragon"]:checked) {
    --secondary-Color: var(--dragon);
}
/* #endregion*/
/* #region Dark */
.charsheet:has([name="attr_type1"] > option[value="Dark"]:checked) {
    --primary-Color: var(--dark);
}

.charsheet:has([name="attr_type2"] > option[value="Dark"]:checked) {
    --secondary-Color: var(--dark);
}
/* #endregion*/
/* #region Steel */
.charsheet:has([name="attr_type1"] > option[value="Steel"]:checked) {
    --primary-Color: var(--steel);
}

.charsheet:has([name="attr_type2"] > option[value="Steel"]:checked) {
    --secondary-Color: var(--steel);
}
/* #endregion*/
/* #region Fairy */
.charsheet:has([name="attr_type1"] > option[value="Fairy"]:checked) {
    --primary-Color: var(--fairy);
}

.charsheet:has([name="attr_type2"] > option[value="Fairy"]:checked) {
    --secondary-Color: var(--fairy);
}
/* #endregion*/
/* #endregion*/

.charsheet {
    min-width: 840px;
    max-width: 900px;
    margin: 0 auto;
    background: linear-gradient(90deg,var(--primary-Color),var(--secondary-Color));
    transition: background 0.5s ease;
    --field-color: lightgrey;
    border-radius: 20px;
    margin-bottom: 10px;
}

.Radio-Wrap {
    display: flex;
}

.Radio-Wrap label {
    width: 100%;
    margin-bottom: 0;
    padding: 8px 16px;
    text-align: center;
    background-color: var(--button-color);
    transition: all var(--animation-timing) ease;
}

.Radio-Wrap label:hover {
    background-color: var(--button-hover);
}
.Radio-Wrap label p {
    margin-bottom: 0;
    user-select: none;
}

.Radio-Wrap input[type="radio"]:checked + label {
    background-color: var(--button-active);
    color: white;
    text-decoration: underline;
}

.Radio-Wrap {
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--button-active);
}

.Section {
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

.Section-Head {
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: var(--black);
}

.Section-Head h2 {
    color: white;
}

.Stats-Table th h3 {
    color: white;
}

.Stats-Table th {
    padding: 5px;
    background-color: var(--black);
}

table{
    width: 100%;
}

.Notes textarea {
    resize: vertical;
}

tr:nth-child(even) {
    background-color: rgba(0,0,0,0.1);
}

.Sheet {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
}

.Hero img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.Hero {
    grid-column: span 2;
    position: relative;
}

.Column-1 {
    grid-column: 1;
    display: grid;
    height: fit-content;
    row-gap: 10px;
}

.Column-2 {
    grid-column: 2;
    display: grid;
    row-gap: 10px;
    height: fit-content;
}

.Section {
    height: fit-content;
}

.Row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-left: 5px;
    padding-right: 50px;
    padding-bottom: 5px;
}

.Row input {
    width: 100%;
    text-align: center;
}

.Two-Col {
    display: grid;
    grid-template-columns: 3fr 5.4fr;
    grid-gap: 20px;
    grid-column: span 5;
}

.Three-Col {
    display: grid;
    grid-column: span 5;
    grid-template-columns: 5fr 2fr;
    grid-gap: 20px;
}

.Two-Col .Col, .Three-Col .Col {
    display: flex;
    gap: 5px;
}

.Two-Col .Col, .Three-Col .Col{
    justify-content: space-between;
}

input {
    text-align: center;
}

select {
    width: fit-content;
    margin: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Info-Table input, .Info-Table select, input[type="number"], input[type="text"]{
    border-radius: 5px;
    border: unset;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.Info-Table select {
    width: 101.5px;
}

.Tab-Header {
    width: fit-content;
    position: absolute;
}

.Marker {
    font-weight: 600;
    width: 100%;
    display: inline-block;
}

.Health-Markers td {
    padding-left: 10px;
    padding-right: 10px;
}

.Initative {
    position: absolute;
    right: 0;
    top: 0;
    display: grid;
    width: fit-content;
    background-color: var(--button-color);
    border-radius: 10px;
    border: 2px solid var(--button-active);
}

.Initative:hover {
    background-color: var(--button-hover);
}

.Initative button {
    height: 100%;
    color: black !important;
    background: transparent !important;
    border: unset;
    padding: 8px 16px !important;
    text-shadow: unset;
    box-shadow: unset;
    display: flex;
    gap: 5px;
}

.Capabilities th{
    background-color: var(--black);
    padding: 5px;
}

.Capabilities th h4 {
    color: white;
}

.Capability {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 5px;
    grid-gap: 5px;
}

.Capabilities .repitem:nth-child(even) {
    background-color:rgba(0,0,0,0.1);
}

.Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
}

.Section-Head h3, .Section-Head h4 {
    color: white;
}

.Grid > label {
    background-color: var(--button-color);
    color: black;
}

.Grid > label {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Grid > label input[type="checkbox"] {
    display: none;
}

.Grid > label:hover {
    background-color: var(--button-hover);
}

.Grid > label:has(input[type='checkbox']:checked) {
    background-color: var(--button-active);
    color: white;
    text-decoration: underline;
}

.Section table input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Section table tr td:nth-last-child(1){
    text-align: center;
}

.Blocks {
    grid-column: span 2;
    display: grid;
    grid-gap: 10px;
}

.Moves .Section-Head input[type="checkbox"]:checked + label > img{
    transform: rotate(180deg);
}

.Moves .Section-Head {
    position: relative;
}

.Moves .Section-Head label {
    position: absolute;
    right: 10px;
    top: 10px;
    width: fit-content;
}

.Moves .Section-Head label img {
    transition: transform 0.5s ease;
}

/* #region Moves*/


/* #endregion*/